<!-- Header -->
<header>
    <div class="container-fluid full-width-image" style="background-image: url('images/TATA雜學校志工會議.jpg')"></div>
</header>

<!-- Main -->
<div class="jumbotron jumbotron-fluid">
    <div class="container TC my-5">
        <h2 class="text-center"><strong>TATA成立原因</strong></h2>
        <br>
        <p class="text-muted">在2018年2月6日，流浪動物零撲殺政策正式上路，雖然對於許多動保團體與愛狗人士來說，這是值得慶祝的「先進立法」，但在過了幾個月以後，問題才開始浮現。捕獲大於認養的收容中心，開始出現流浪狗過量必須委外的情形，每隻被收容的流浪狗的生活品質也大為下降，除此之外， 為了減少收容壓力，流浪狗的捕捉量也大為降低， 雖然配合「精準捕抓」政策增加誘捕條件，但郊區較常發生人犬衝突的地方在今年也增加了不少毒狗的情況。</p>
    </div>
</div>

<div class="container TC my-5">
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center"><strong>我們要解決的問題</strong></h2>
            <br>
            <h4 class="text-secondary text-center"><strong>「一個國家的文明程度，就看它怎麼對待動物。」－聖雄甘地</strong></h4>
            <br>
            <p class="text-muted">2013 年，導演 Raye 以紀錄片「十二夜」點出流浪犬的問題。2016 年，簡稚澄醫師服安樂死藥物自殺，試圖點醒人們，以死明志，震撼世人。2017 年，「零撲殺」政策正式上路，這個倉促的執法卻忽視問題的核心，這些流浪犬並不會因此而憑空消失，讓本來就超載的收容所面臨著更嚴峻地挑戰，缺乏配套措施底下的政策，最直接受害的就是流浪動物，而問題也將演變的越來越嚴重。</p>
        </div>
        <div class="col-sm">
            <h2 class="text-center"><strong>現有解決方案治標不治本</strong></h2>
            <br>
            <p class="text-muted">政府現在主要以<strong>TNVR( 捕捉、絕育、疫苗、回放 )</strong>解決流浪犬的問題，但國外也有以模型來模擬研究，結論是如果持續有外來個體的介入，那這種方式的成效微乎其微。如果要說世界上有哪個國家值得我們借鏡效仿的， 那德國絕對會是其中一個。德國是一個最接近零棄養及幾乎沒有流浪狗的國家，其中差別最大的是，該國政府花了很多資源從<strong>教育</strong>著手，因此他們將狗視為「生命」，而台灣卻將大部分的資源放在結紮。</p>
        </div>
    </div>
</div>

<div class="container-fluid TC text-center bg-light">
    <div class="row">
        <div class="col-sm my-5">
            <h2><strong>創辦人</strong></h2>
            <br>
            <a href='https://www.facebook.com/aciancian'>
                <img src="images/核心夥伴_李茂芊.JPG" alt="" class="img-thumbnail my-3" style="width:350px">
            </a>
            <h5 class="card-title"><strong>李茂芊</strong> <small class="text-muted">執行長</small></h5>
        </div>
    </div>
    <br>
    <h2><strong>執行團隊</strong></h2>
    <br>
    <div class="row">
        <div class="col-sm mb-5">
            <a href='https://www.facebook.com/profile.php?id=100000172184767&ref=bookmarks'>
                <img src="images/核心夥伴_張家慧.JPG" alt="" class="img-thumbnail my-3" style="width:300px">
            </a>
            <h5 class="card-title"><strong>張家慧</strong> <small class="text-muted">營運長</small></h5>
        </div>
        <div class="col-sm mb-5">
            <a href='https://www.facebook.com/profile.php?id=100002431797863&ref=br_rs'>
                <img src="images/核心夥伴_戴嘉佑.JPG" alt="" class="img-thumbnail my-3" style="width:300px">
            </a>
            <h5 class="card-title"><strong>戴嘉佑</strong> <small class="text-muted">法務長</small></h5>
        </div>
        <div class="col-sm mb-5">
            <a href='https://www.facebook.com/hedy.chien.98?ref=br_rs'>
                <img src="images/核心夥伴_簡羽涵.JPG" alt="" class="img-thumbnail my-3" style="width:300px">
            </a>
            <h5 class="card-title"><strong>簡羽涵</strong> <small class="text-muted">行銷長</small></h5>
        </div>
        <div class="col-sm mb-5">
            <a href='https://www.facebook.com/jmli1993'>
                <img src="images/核心夥伴_李哲銘.JPG" alt="" class="img-thumbnail my-3" style="width:300px">
            </a>
            <h5 class="card-title"><strong>李哲銘</strong> <small class="text-muted">資訊長</small></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm mb-5">
            <a href='https://www.facebook.com/ben.lee.982'>
                <img src="images/核心夥伴_李冠霖.JPG" alt="" class="img-thumbnail my-3" style="width:300px">
            </a>
            <h5 class="card-title"><strong>李冠霖</strong> <small class="text-muted">業務經理</small></h5>
        </div>
        <div class="col-sm mb-5">
            <img src="images/臨床心理師_周芸安.JPG" alt="" class="img-thumbnail my-3" style="width:300px">
            <h5 class="card-title"><strong>周芸安</strong> <small class="text-muted">臨床心理師</small></h5>
        </div>
        <div class="col-sm mb-5">
            <img src="images/臨床心理師_洪培真.JPG" alt="" class="img-thumbnail my-3" style="width:300px">
            <h5 class="card-title"><strong>洪培真</strong> <small class="text-muted">臨床心理師</small></h5>
        </div>
        <div class="col-sm mb-5">
            <img src="images/臨床心理師_趙素儀.JPG" alt="" class="img-thumbnail my-3" style="width:300px">
            <h5 class="card-title"><strong>趙素儀</strong> <small class="text-muted">臨床心理師</small></h5>
        </div>
    </div>
</div>

<div class="container text-center my-5">
    <div class="fa-2x">
        <i class="far fa-paper-plane"></i>
    </div>
    <br>
    <h4 class="text-muted">tata@tatafortaiwan.com</h4>
</div>