<%= provide(:page_title, '關於我們') %>
<% provide(:about_active, 'active') %>

<div class="container mt-5">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images2.imgbox.com/6a/7c/FYfWBQYj_o.jpg" alt="First slide">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid TC text-center bg-light">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-sm-6 my-5">
        <h2><strong>透過教育來打造零棄養的未來</strong></h2>
        <br>
        <p class="text-muted text-left">我們的體驗式生命教育課程，將流浪動物從收容所帶到校園裡，除了教導飼養寵物所需要知道的基礎知識，還可以讓孩子們直接的體驗與狗狗互動的感受，進而深刻的學習到應尊重每個生命的價值。</p>
      </div>
    </div>
  </div>
</div>

<div class="container TC text-center my-5">
  <div class="row">
    <div class="col-sm">
      <img src="https://images2.imgbox.com/86/5d/MlCPmiLe_o.jpg" width="100%" class="rounded my-3">
    </div>
    <div class="col-sm align-self-center">
      <h2><strong>李茂芊</strong></h2>
      <h5 class="text-muted">創辦人暨執行長</h5>
      <p class="text-left">暫別台大心理學臨床組碩士班，現休學全職創業中，家有2隻貓1隻狗，8年家教經驗接觸到許多家長除了學科外更重視生命教育，深信教育下一代才是成功解決流浪動物議題的最大關鍵。志工服務時發現動保團體普遍有經營困難，因此決定以社會企業的方式於去年創辦了 牠牠－「浪，我幫你說」體驗式生命教育。</p>
    </div>
  </div>
</div>

<div class="container TC text-center">
  <div class="row">
    <div class="col-sm order-sm-2">
      <img src="https://images2.imgbox.com/e8/a5/L1ma6rjr_o.jpg" width="100%" class="rounded my-3">
    </div>
    <div class="col-sm align-self-center order-sm-1">
      <h2><strong>張家慧</strong></h2>
      <h5 class="text-muted">營運長</h5>
      <p>前林口長庚醫院護理師<br>國立台灣師範大學健康促進與衛生教育所<br>負責「課程部」及「商品部」</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">        
      <img src="https://images2.imgbox.com/b5/25/wAinWrzZ_o.jpg" width="100%" class="rounded my-3">        
    </div>
    <div class="col-sm align-self-center">
      <h2><strong>簡羽涵</strong></h2>
      <h5 class="text-muted">行銷長</h5>
      <p>國立台灣大學生物產業傳播暨發展學系<br>負責「行銷部」及「設計部」</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm order-sm-2">
      <img src="https://images2.imgbox.com/e4/54/MURwjwP2_o.jpg" width="100%" class="rounded my-3">
    </div>
    <div class="col-sm align-self-center order-sm-1">
      <h2><strong>戴嘉佑</strong></h2>
      <h5 class="text-muted">人資長</h5>
      <p>從物理系轉到法律系<br>熟悉流浪動物保護相關議題<br>負責「人資部」及「法務部」</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="https://images2.imgbox.com/04/36/2tSA7HEK_o.jpg" width="100%" class="rounded my-3">
    </div>
    <div class="col-sm align-self-center">
      <h2><strong>李哲銘</strong></h2>
      <h5 class="text-muted">資訊長</h5>
      <p>目前於台積電服研發替代役<br>國立台灣大學機械所碩士<br>擅長網站架設與軟體技術<br>負責「資訊部」</p>
    </div>
  </div>
</div>
