<!-- Carousel -->
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('images/TATA失戀市集.jpg')"></div>
            <div class="carousel-item" style="background-image: url('images/TATA板橋高中.jpg')"></div>
            <div class="carousel-item" style="background-image: url('images/TATA基隆中山高中.jpg')"></div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Main -->
<div class="container TC my-5 text-center">
    <br>
    <h1><strong>牠牠 TATA</strong></h1>
    <br>
    <h3 class="text-secondary"><strong>我們最大的夢想是讓台灣成為亞洲第一個零棄養的國家！</strong></h3>
    <br>
    <br>
    <h5 class="text-muted">透過「浪，我幫你說」的體驗式生命教育課程<br>讓台灣的下一代能了解領養不棄養的重要<br>用「生命教育」讓未來不再有浪浪</h5>
    <br>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container TC my-5">
        <h2 class="text-center"><strong>什麼是體驗式生命教育？</strong></h2>
        <br>
        <p class="text-muted">有別於校園課堂中的紙本教育，我們著重在讓學生能親身體驗生命的價值，同時也成為攝影志工，讓牠的模樣能被更真實呈現，讓牠的故事能被更多人看見，來修這門特別的課程，用擁抱與愛陪伴牠，牠就會告訴你生命的意義！</p>
        <br>
        <h3 class="text-center"><strong>課程內容如下:</strong></h3>
        <br>
        <ul class="text-muted">
            <li>認識動物之家的環境、工作人員的辛勞與流浪動物的議題</li>
            <li>讓台灣的下一代能了解「毛孩是生命」領養不棄養的重要性</li>
            <li>學會如何與狗狗互動，我們會讓學生牽浪浪到戶外，體驗如何與狗狗散步、喝水、撫摸及互動…等</li>
            <li>「浪浪知多少」的學習式測驗，讓學生能在測驗中了解流浪動物的重要知識</li>
            <li>練習寵物攝影技巧，用照片的交流去除語言的隔閡，更用心感受浪浪的生命價值</li>
        </ul>
    </div>
</div>

<div class="container-fluid TC">
    <div class="row mt-5">
        <div class="col-md mx-3 my-5 align-self-center">
            <img src="images/TATA前進收容所.jpg" class="rounded" alt="" width="100%">
        </div>
        <div class="col-md mr-3 my-5 align-self-center">
            <div class="jumbotron">
                <h2 class="text-center"><strong>TATA x 前進收容所</strong></h2>
                <br>
                <p class="text-muted">台灣收容所多處於偏遠地區，目前是和新店動物之家長期合作。收容所系列是我們起步的課程系列，主要讓學員認識動物之家的環境、工作人員的辛勞與流浪動物的議題，親眼看到、親身體驗台灣流浪動物議題的重要性及激發同學愛護動物的心，進而傳達領養不棄養的觀念。我們將在過程中教導學生拍攝技巧，讓他們為浪浪拍照並上傳粉專，增加浪浪的曝光率，希望同學了解自己是有能力去幫助台灣流浪動物的。</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid full-width-image my-5" style="background-image: url('images/TATA獨角獸.jpg')">
    <div class="full-width-image-text TC" style="left: 70%;">
        <h1><strong>前進社會團體</strong></h1>
        <br>
        <h4>如您是想邀請我們的社會團體，<br>我們將為您個別訂製教案。</h4>
    </div>
</div>

<div class="container-fluid TC">
    <div class="row mb-5">
        <div class="col-md mx-3 my-5 align-self-center">
            <img src="images/TATA基隆中山高中2.jpg" class="rounded" alt="" width="100%">
        </div>
        <div class="col-md mr-3 my-5 align-self-center">
            <div class="jumbotron">
                <h2 class="text-center"><strong>TATA x 前進校園</strong></h2>
                <br>
                <p class="text-muted">現在除了課本上的知識外，學校也開始著重於生命教育的課程，我們經由雜學校的展覽讓更多老師及民眾了解TATA，進而邀請我們到學校上課。我們藉由收容所課程的基礎，想讓更多學生參與體驗式生命教育課程，因此選擇和新店動物之家合作，讓我們在每次課程中都將浪浪帶到學校裡。在校園課程中，除了基本課式教學外，我們還加上實際與浪浪互動的體驗課程及心靈成長團體，希望可以藉此改變學生對於流浪動物的刻板印象；心靈成長團體則能夠帶領學生們思考台灣流浪動物的議題以及自己可以怎麼做等等......。</p>
            </div>
        </div>
    </div>
</div>
