// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* bootstrap responsive slider  */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.slider-bg {
  background-color: rgb(221, 227, 230);
}

/* set font-family as Microsoft JhengHei */
.TC {
  font-family: "Microsoft JhengHei";
}

/* Social Media Buttons */
.fab,.far {
  color: rgb(200, 200, 200);
}

.fa-facebook-square:hover {
  color: #3B5998;
}

.fa-instagram:hover {
  color: white;
}

.fa-youtube:hover {
  color: #ff0000;
}
