<footer>
  <div class="jumbotron jumbotron-fluid TC text-center mb-0">
    <div class="fa-3x">
      <a href='https://www.facebook.com/tatafortaiwan/' class="mr-5"><i class="fab fa-facebook-square"></i></a>
      <a href='https://www.instagram.com/tatafortaiwan/' class="mr-5"><i class="fab fa-instagram"></i></a>
      <a href='https://www.youtube.com/channel/UCq4HihwFia4YFPEWipMAtBw'><i class="fab fa-youtube"></i></a>
    </div>
    <p class="text-muted"><strong>Copyright &copy; 2018 Tatafortaiwan.</strong></p>
  </div>
</footer>